In [20]:
%cd VIS_SinhCT

[Errno 2] No such file or directory: 'VIS_SinhCT'
/Users/trancatkhanh/Desktop/TestFinanceFormula/VIS_SinhCT

In [21]:
from generator import Generator
import pandas as pd
import numpy as np
data = pd.read_excel("HOSE_File3_2023_Field.xlsx")
data = data[data["TIME"] >= 2007]
data = data[data["TIME"] <= 2022]
data

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
339,AAA,HOSE,2022,0.476440,1.559239e+11,0.318878,0.069954,0.287971,0.159968,0.022042,...,0.031236,0.064973,0.001382,0.002542,-0.001160,0.063813,0.015686,-0.003862,0.051988,0.025008
340,AAM,HOSE,2022,0.744966,1.660500e+09,0.396938,0.039397,0.049874,0.544791,0.016006,...,0.041257,-0.006316,0.032221,0.024444,0.007777,0.001461,0.000000,0.000013,0.001448,0.010663
341,AAT,HOSE,2022,0.410448,8.211400e+09,0.109150,0.001170,0.247543,0.020843,0.022754,...,0.015443,0.038660,0.007479,0.003214,0.004265,0.042925,0.009223,0.000000,0.033703,0.009605
342,ABR,HOSE,2022,0.475490,2.440000e+07,0.120767,0.354600,0.102462,0.001000,0.000924,...,0.054159,0.056796,0.001087,0.000356,0.000731,0.057526,0.012207,-0.002045,0.047365,0.000060
343,ABS,HOSE,2022,0.255578,2.783360e+10,0.001594,0.172515,0.465351,0.010245,0.000452,...,0.004550,0.041596,0.000842,0.000861,-0.000019,0.041576,0.008437,0.000000,0.033140,0.014114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4721,VPK,HOSE,2007,0.502778,1.682800e+09,0.020743,0.000000,0.057294,0.116012,0.024933,...,0.026945,0.031980,0.002445,0.000467,0.001978,0.033958,0.000000,0.000000,0.033958,0.006151
4722,VSH,HOSE,2007,0.455263,1.280530e+10,0.005633,0.006091,0.002983,0.002712,0.000119,...,0.000696,0.028461,0.000139,0.000085,0.000054,0.028515,0.000000,0.000000,0.028515,0.001348
4723,VTA,HOSE,2007,0.548485,2.194500e+09,0.065528,0.000000,0.497201,0.481074,0.000587,...,0.021797,0.016901,0.002553,0.001503,0.001050,0.017951,0.000000,0.000000,0.017951,0.016625
4724,VTB,HOSE,2007,0.506849,8.179000e+08,0.032938,0.024943,0.120339,0.059402,0.018610,...,0.016983,0.038285,0.009579,0.005138,0.004440,0.042726,0.000000,0.000000,0.042726,0.001601
4725,VTC,HOSE,2007,0.531832,5.777000e+08,0.070280,0.001582,0.295638,0.116344,0.002460,...,0.043458,0.038562,0.002154,0.000408,0.001746,0.040307,0.005898,0.000000,0.034409,0.004020

# Thực hiện Test code công thức : Ngoài hệ thống của anh An

In [17]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data
filtered_data=  get_data(data,2007,2022)

**Các công ty phải tồn tại xuyên suốt giai đoạn năm 2007 - 2022**

In [112]:
filtered_data.head()

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
367,BMC,HOSE,2022,0.585062,4.483900e+09,0.266337,0.000000,0.015456,0.303222,0.046970,...,0.045098,0.072318,0.000865,3.680582e-03,-0.002816,0.069502,0.011103,0.000000,0.058399,0.015013
368,BMP,HOSE,2022,1.006902,4.236900e+09,0.032402,0.152698,0.069265,0.115955,0.005905,...,0.016407,0.050926,0.000467,1.143017e-03,-0.000676,0.050250,0.009020,0.001064,0.040166,0.000794
382,CII,HOSE,2022,0.412308,3.520647e+11,0.087449,0.083757,0.555696,0.577221,0.027793,...,0.062709,-0.009451,0.003761,7.734962e-03,-0.003974,-0.013425,0.026742,-0.009453,-0.030715,0.044670
384,CLC,HOSE,2022,0.959108,1.197900e+09,0.058603,0.000000,0.191794,0.694734,0.007103,...,0.071940,0.159749,0.000729,6.110503e-06,0.000723,0.160473,0.032412,0.000000,0.128060,0.001133
391,COM,HOSE,2022,0.480028,4.280000e+08,0.083097,0.015264,0.018864,0.098535,0.006660,...,0.013433,0.045497,0.003203,8.149771e-07,0.003202,0.048698,0.009855,-0.000365,0.039208,0.000417

**Cho công thức A+B  vs A là cột Cash and cash equivalents vs B là cột Short Term Financial Investments**
**==> ta có bảng weight**

In [31]:
new_df = pd.DataFrame({'sum': filtered_data['Cash and cash equivalents'] + filtered_data['Short Term Financial Investments'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
new_df = new_df.reset_index(drop=True)
new_df

          sum SYMBOL  TIME
0    0.266337    BMC  2022
1    0.185100    BMP  2022
2    0.171206    CII  2022
3    0.058603    CLC  2022
4    0.098361    COM  2022
..        ...    ...   ...
939  0.060203    VIP  2007
940  0.135642    VIS  2007
941  0.015428    VNM  2007
942  0.011723    VSH  2007
943  0.057881    VTB  2007

[944 rows x 3 columns]

**Weight của các năm từ 2007 đến 2021**

In [113]:
new_df_2007_2021 = new_df[new_df['TIME'] != 2022]
new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)
new_df_2007_2021.head()

        sum SYMBOL  TIME
0  0.018117    BMC  2021
1  0.290072    BMP  2021
2  0.178566    CII  2021
3  0.057565    CLC  2021
4  0.109757    COM  2021

**Mean Weight của các năm từ 2007 đến 2021**

In [92]:
# create the new dataframe of all time except 2022
new_df_2007_2021 = new_df[new_df['TIME'] != 2022]
new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)
new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
new_mean = new_mean.reset_index()
new_mean.columns = ['SYMBOL', 'mean']
new_mean.head()

  SYMBOL      mean
0    BMC  0.141737
1    BMP  0.123226
2    CII  0.200663
3    CLC  0.110731
4    COM  0.177818

**Weight của năm 2022**

In [93]:
new_df_2022 = new_df[new_df['TIME'] == 2022]
new_df_2022 = new_df_2022.reset_index(drop=True)
new_df_2022.head()

        sum SYMBOL  TIME
0  0.266337    BMC  2022
1  0.185100    BMP  2022
2  0.171206    CII  2022
3  0.058603    CLC  2022
4  0.098361    COM  2022

**Độ chêch lệch  theo phần trăm của năm 2022 so cái mean các năm trước đó**

In [96]:
# How to combine new_df_2022 and new_mean
new_df_2022_1 = pd.merge(new_df_2022, new_mean, on='SYMBOL')
new_df_2022_1.columns = ['sum','SYMBOL', 'TIME', 'mean']
new_df_2022_1['diff'] = ((new_df_2022_1['sum'] - new_df_2022_1['mean'])/new_df_2022_1['mean'])*100
new_df_2022_1['SUM'] = new_df_2022_1['sum'].astype(float)

new_df_2022_1 = new_df_2022_1.drop(columns=['sum'])
new_df_2022_1.head()

  SYMBOL  TIME      mean       diff       SUM
0    BMC  2022  0.141737  87.909331  0.266337
1    BMP  2022  0.123226  50.211228  0.185100
2    CII  2022  0.200663 -14.679694  0.171206
3    CLC  2022  0.110731 -47.075970  0.058603
4    COM  2022  0.177818 -44.684162  0.098361

In [97]:

print(new_df_2022_1[new_df_2022_1['diff'] == new_df_2022_1['diff'].max()])
#Print the symbol has the max values of diff as string
print('Công ty đầu tư năm 2022 là ' ,new_df_2022_1[new_df_2022_1['diff'] == new_df_2022_1['diff'].max()]['SYMBOL'].values[0] )
print('Tỷ lệ chêch lệch là ' ,new_df_2022_1[new_df_2022_1['diff'] == new_df_2022_1['diff'].max()]['diff'].values[0] , '%')

   SYMBOL  TIME      mean       diff       SUM
53    VID  2022  0.187682  143.70706  0.457393
Công ty đầu tư năm 2022 là  VID
Tỷ lệ chêch lệch là  143.7070595958498 %

**Hàm tính ra công ty đầu tư**

In [109]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data


def find_company_to_invest(data,years_begin,years_end):
    filtered_data = get_data(data,years_begin,years_end)
    new_df = pd.DataFrame({'sum': filtered_data['Cash and cash equivalents'] + filtered_data['Short Term Financial Investments'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
    new_df = new_df.reset_index(drop=True)
    new_df_2007_2021 = new_df[new_df['TIME'] != years_end]
    new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)

    new_df_2022 = new_df[new_df['TIME'] == years_end]
    new_df_2022 = new_df_2022.reset_index(drop=True)

    new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
    new_mean = new_mean.reset_index()
    new_mean.columns = ['SYMBOL', 'mean']
    new_df_2022_1 = pd.merge(new_df_2022, new_mean, on='SYMBOL')
    new_df_2022_1.columns = ['sum','SYMBOL', 'TIME', 'mean of previous years']
    new_df_2022_1['weight of year end'] = new_df_2022_1['sum'].astype(float)
    new_df_2022_1['diff in percentage'] = ((new_df_2022_1['sum'] - new_df_2022_1['mean of previous years'])/new_df_2022_1['mean of previous years'])*100
    new_df_2022_1 = new_df_2022_1.drop(columns=['sum'])
    print('Công ty đầu tư năm ' +str(years_end)+' là ' ,new_df_2022_1[new_df_2022_1['diff in percentage'] == new_df_2022_1['diff in percentage'].max()]['SYMBOL'].values[0] )
    print('Tỷ lệ chêch lệch là ' ,new_df_2022_1[new_df_2022_1['diff in percentage'] == new_df_2022_1['diff in percentage'].max()]['diff in percentage'].values[0] , '%')
    return new_df_2022_1
final_table =find_company_to_invest(data,2007,2009)

Công ty đầu tư năm 2009 là  TTP
Tỷ lệ chêch lệch là  3961.6086052321557 %

# Thực hiện Test code công thức : Merge Hệ thống của anh An

**Xử lý dữ liệu để**
**các công ty phải tồn tại xuyên suốt giai đoạn năm 2007 - 2022**

In [25]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data
filtered_data =  get_data(data,2007,2022)

In [26]:
vis = Generator(filtered_data,
                generation_method=1,
                 required_fields=[],
                 multiple_cycles=False,
                 investment_method=2,
                 interest_rate=1.06,
                 measurement_method=0,
                 target=1.2,
                 max_loop=7)

Các cột không được coi là biến: ['TIME', 'PROFIT', 'SYMBOL', 'VALUEARG', 'EXCHANGE']

In [32]:
filtered_data.columns

Index(['SYMBOL', 'EXCHANGE', 'TIME', 'PROFIT', 'VALUEARG',
       'Cash and cash equivalents', 'Short Term Financial Investments',
       'Short term receivables', 'Total Inventories',
       'Total Other Current Assets', 'Long-term receivables', 'Fixed assets',
       'Investment property', 'Long-term assets in process',
       'Long-term financial investments', 'Total Other non-current assets',
       'Goodwill', 'Current liabilities', 'Non-current liabilities',
       'Owner's equity', 'Other sources and funds_header', 'Sales',
       'Sales deductions', 'Net sales', 'Cost of sales', 'Gross profit',
       'Financial income', 'Financial expenses',
       'Earnings From Equity Interest', 'Selling expenses',
       'General and administration expenses', 'Net operating profit',
       'Other income', 'Other expenses', 'Other profit',
       'Total accounting profit before tax', 'Current income tax',
       'Deferred income tax', 'Profit after tax', 'ValueARG'],
      dtype='object')

In [33]:
filtered_data.columns[5:][16]

'Sales'

In [27]:
vis.generate("Data_CT", 100, 200)

Đã tạo thư mục lưu công thức
Data_CT/
Đang chạy sinh công thức, số toán hạng là 1
Số phần tử trong 1 cụm 1
Đã lưu lịch sử
Đã lưu công thức
Đang chạy sinh công thức, số toán hạng là 2
Số phần tử trong 1 cụm 1
Đã lưu lịch sử
Đã lưu công thức
Đã lưu lịch sử
Đã lưu công thức

Exception: Đã sinh đủ công thức

# Check Logic 
Ví dụ  có công thức là +16 trong bẳng excel  là +16,1.2169685235726446,2022,1.280645161290323
 tức là lấy cột Sales

In [37]:
# print sales columns
filtered_data[['Sales','TIME','SYMBOL']]

        Sales  TIME SYMBOL
0    0.460201  2022    BMC
1    0.855284  2022    BMP
2    0.369054  2022    CII
3    2.025669  2022    CLC
4    2.595015  2022    COM
..        ...   ...    ...
939  0.266728  2007    VIP
940  2.215846  2007    VIS
941  0.221721  2007    VNM
942  0.045975  2007    VSH
943  0.773842  2007    VTB

[944 rows x 3 columns]

In [39]:
def find_company_to_invest(data,years_begin,years_end):
    filtered_data = get_data(data,years_begin,years_end)
    new_df = pd.DataFrame({'sum': filtered_data['Sales'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
    new_df = new_df.reset_index(drop=True)
    new_df_2007_2021 = new_df[new_df['TIME'] != years_end]
    new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)

    new_df_2022 = new_df[new_df['TIME'] == years_end]
    new_df_2022 = new_df_2022.reset_index(drop=True)

    new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
    new_mean = new_mean.reset_index()
    new_mean.columns = ['SYMBOL', 'mean']
    new_df_2022_1 = pd.merge(new_df_2022, new_mean, on='SYMBOL')
    new_df_2022_1.columns = ['sum','SYMBOL', 'TIME', 'mean of previous years']
    new_df_2022_1['weight of year end'] = new_df_2022_1['sum'].astype(float)
    new_df_2022_1['diff in percentage'] = ((new_df_2022_1['sum'] - new_df_2022_1['mean of previous years'])/new_df_2022_1['mean of previous years'])*100
    new_df_2022_1 = new_df_2022_1.drop(columns=['sum'])
    print('Công ty đầu tư năm ' +str(years_end)+' là ' ,new_df_2022_1[new_df_2022_1['diff in percentage'] == new_df_2022_1['diff in percentage'].max()]['SYMBOL'].values[0] )
    print('Tỷ lệ chêch lệch là ' ,new_df_2022_1[new_df_2022_1['diff in percentage'] == new_df_2022_1['diff in percentage'].max()]['diff in percentage'].values[0] , '%')
    return new_df_2022_1
final_table =find_company_to_invest(data,2007,2022)

Công ty đầu tư năm 2022 là  VSH
Tỷ lệ chêch lệch là  65.23054023801416 %

In [41]:
# FIND THE ROWS HAVE THE SYMBOL VSH IN 2022
filtered_data[filtered_data['SYMBOL'] == 'VSH']

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
57,VSH,HOSE,2022,1.280645,9.780000e+08,0.007155,0.005363,0.067926,0.013916,0.000001,...,0.006193,0.062234,0.000012,6.591197e-04,-0.000647,0.061587,0.008706,0.000000,0.052881,0.000134
116,VSH,HOSE,2021,1.515957,1.263700e+09,0.003403,0.007881,0.047447,0.022665,0.000248,...,0.005201,0.053119,0.000149,1.976428e-04,-0.000049,0.053070,0.010713,-0.000040,0.042397,0.000285
175,VSH,HOSE,2020,1.078788,1.804000e+08,0.020889,0.010285,0.064182,0.030972,0.002905,...,0.006765,0.052220,0.000860,7.471088e-04,0.000113,0.052333,0.005451,0.000152,0.046729,0.000053
234,VSH,HOSE,2019,1.274854,8.218000e+08,0.044637,0.022117,0.093679,0.068121,0.001835,...,0.007267,0.097276,0.000180,3.409566e-04,-0.000161,0.097114,0.010290,0.000000,0.086825,0.000233
293,VSH,HOSE,2018,1.034286,4.646000e+08,0.041794,0.093289,0.126297,0.041577,0.005100,...,0.006904,0.089012,0.000016,9.258188e-05,-0.000076,0.088936,0.009949,0.000313,0.078674,0.000129
352,VSH,HOSE,2017,1.164557,7.961000e+08,0.098347,0.203624,0.231287,0.114843,0.013453,...,0.006680,0.085878,0.000339,3.280274e-05,0.000307,0.086184,0.006972,0.000000,0.079212,0.000244
411,VSH,HOSE,2016,1.042945,1.107000e+09,0.343048,0.009965,0.131281,0.109724,0.006334,...,0.006264,0.086485,0.000049,2.340949e-03,-0.002292,0.084193,0.009344,0.000000,0.074849,0.000329
470,VSH,HOSE,2015,1.234848,2.823900e+09,0.084470,0.011754,0.252629,0.013355,0.000367,...,0.007146,0.146965,0.000010,8.491453e-06,0.000002,0.147385,0.015415,0.000000,0.131970,0.001037
529,VSH,HOSE,2014,0.883041,3.214791e+10,0.162738,0.000000,0.178097,0.010255,0.005283,...,0.004354,0.063738,0.000032,2.786809e-05,0.000004,0.064118,0.008146,0.000000,0.055971,0.009116
588,VSH,HOSE,2013,1.336134,2.469359e+09,0.260909,0.073797,0.243974,0.012601,0.006662,...,0.006964,0.107429,0.000090,3.567865e-05,0.000054,0.108192,0.012849,0.000000,0.095343,0.001006
647,VSH,HOSE,2012,1.052174,1.118473e+10,0.203560,0.294962,0.254343,0.010718,0.000036,...,0.007833,0.150487,0.000109,1.716323e-05,0.000092,0.153341,0.014612,0.000000,0.138730,0.004716
706,VSH,HOSE,2011,1.109091,1.778415e+09,0.298599,0.242737,0.171191,0.018582,0.000060,...,0.004982,0.142393,0.000069,1.732305e-06,0.000068,0.143113,0.010087,-0.000275,0.133301,0.000784
765,VSH,HOSE,2010,0.818182,8.512961e+09,0.061799,0.247373,0.049311,0.006463,0.000020,...,0.004698,0.119822,0.000033,1.856184e-06,0.000031,0.121892,0.004192,-0.000218,0.117919,0.002680
824,VSH,HOSE,2009,0.884880,5.703158e+09,0.011994,0.206365,0.024831,0.005207,0.000017,...,0.002541,0.092433,0.000018,5.265166e-06,0.000013,0.092527,0.000000,-0.000185,0.092711,0.001425
883,VSH,HOSE,2008,0.919192,2.710832e+09,0.056025,0.125058,0.017278,0.005721,0.000012,...,0.001863,0.062291,0.000003,6.678626e-07,0.000002,0.062759,0.000000,-0.000137,0.062896,0.000664
942,VSH,HOSE,2007,0.455263,1.280530e+10,0.005633,0.006091,0.002983,0.002712,0.000119,...,0.000696,0.028461,0.000139,8.491328e-05,0.000054,0.028515,0.000000,0.000000,0.028515,0.001348