In [1]:
%cd VIS_SinhCT

/Users/trancatkhanh/Desktop/TestFinanceFormula/VIS_SinhCT

In [117]:
from generator import Generator
import pandas as pd
import numpy as np
data = pd.read_excel("HOSE_File3_2023_Field.xlsx")
data = data[data["TIME"] >= 2007]
data = data[data["TIME"] <= 2022]
data

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
339,AAA,HOSE,2022,0.476440,1.559239e+11,0.318878,0.069954,0.287971,0.159968,0.022042,...,0.031236,0.064973,0.001382,0.002542,-0.001160,0.063813,0.015686,-0.003862,0.051988,0.025008
340,AAM,HOSE,2022,0.744966,1.660500e+09,0.396938,0.039397,0.049874,0.544791,0.016006,...,0.041257,-0.006316,0.032221,0.024444,0.007777,0.001461,0.000000,0.000013,0.001448,0.010663
341,AAT,HOSE,2022,0.410448,8.211400e+09,0.109150,0.001170,0.247543,0.020843,0.022754,...,0.015443,0.038660,0.007479,0.003214,0.004265,0.042925,0.009223,0.000000,0.033703,0.009605
342,ABR,HOSE,2022,0.475490,2.440000e+07,0.120767,0.354600,0.102462,0.001000,0.000924,...,0.054159,0.056796,0.001087,0.000356,0.000731,0.057526,0.012207,-0.002045,0.047365,0.000060
343,ABS,HOSE,2022,0.255578,2.783360e+10,0.001594,0.172515,0.465351,0.010245,0.000452,...,0.004550,0.041596,0.000842,0.000861,-0.000019,0.041576,0.008437,0.000000,0.033140,0.014114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4721,VPK,HOSE,2007,0.502778,1.682800e+09,0.020743,0.000000,0.057294,0.116012,0.024933,...,0.026945,0.031980,0.002445,0.000467,0.001978,0.033958,0.000000,0.000000,0.033958,0.006151
4722,VSH,HOSE,2007,0.455263,1.280530e+10,0.005633,0.006091,0.002983,0.002712,0.000119,...,0.000696,0.028461,0.000139,0.000085,0.000054,0.028515,0.000000,0.000000,0.028515,0.001348
4723,VTA,HOSE,2007,0.548485,2.194500e+09,0.065528,0.000000,0.497201,0.481074,0.000587,...,0.021797,0.016901,0.002553,0.001503,0.001050,0.017951,0.000000,0.000000,0.017951,0.016625
4724,VTB,HOSE,2007,0.506849,8.179000e+08,0.032938,0.024943,0.120339,0.059402,0.018610,...,0.016983,0.038285,0.009579,0.005138,0.004440,0.042726,0.000000,0.000000,0.042726,0.001601
4725,VTC,HOSE,2007,0.531832,5.777000e+08,0.070280,0.001582,0.295638,0.116344,0.002460,...,0.043458,0.038562,0.002154,0.000408,0.001746,0.040307,0.005898,0.000000,0.034409,0.004020

# Thực hiện Test code công thức : Ngoài hệ thống của anh An

**Cho công thức A+B  vs A là cột Cash and cash equivalents vs B là cột Short Term Financial Investments**
**==> ta có bảng weight**

In [ ]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data
filtered_data=  get_data(data,2007,2022):

In [232]:
new_df = pd.DataFrame({'sum': filtered_data['Cash and cash equivalents'] + filtered_data['Short Term Financial Investments'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
new_df = new_df.reset_index(drop=True)
new_df

          sum SYMBOL  TIME
0    0.266337    BMC  2022
1    0.185100    BMP  2022
2    0.171206    CII  2022
3    0.058603    CLC  2022
4    0.098361    COM  2022
..        ...    ...   ...
939  0.060203    VIP  2007
940  0.135642    VIS  2007
941  0.015428    VNM  2007
942  0.011723    VSH  2007
943  0.057881    VTB  2007

[944 rows x 3 columns]

**Mean Weight của các năm từ 2007 đến 2021**

In [263]:
# create the new dataframe of all time except 2022
new_df_2007_2021 = new_df[new_df['TIME'] != 2022]
new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)
new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
new_mean = new_mean.reset_index()
new_mean.columns = ['SYMBOL', 'mean']
new_mean.head(5)

  SYMBOL      mean
0    BMC  0.141737
1    BMP  0.123226
2    CII  0.200663
3    CLC  0.110731
4    COM  0.177818

**Weight của năm 2022**

In [264]:
new_df_2022 = new_df[new_df['TIME'] == 2022]
new_df_2022 = new_df_2022.reset_index(drop=True)
new_df_2022.head()

        sum SYMBOL  TIME
0  0.266337    BMC  2022
1  0.185100    BMP  2022
2  0.171206    CII  2022
3  0.058603    CLC  2022
4  0.098361    COM  2022

**Độ chêch lệch  theo phần trăm của năm 2022 so cái mean các năm trước đó**

In [265]:
new_df_2022['diff'] = (new_df_2022['sum'] - new_mean['mean'])/new_mean['mean']*100
new_df_2022.head(5)

        sum SYMBOL  TIME       diff
0  0.266337    BMC  2022  87.909331
1  0.185100    BMP  2022  50.211228
2  0.171206    CII  2022 -14.679694
3  0.058603    CLC  2022 -47.075970
4  0.098361    COM  2022 -44.684162

In [238]:
# For each symbol, calculate difference of sum in 2022 and mean of sum in 2007-2021
new_df_2022['diff'] = (new_df_2022['sum'] - new_mean['mean'])/new_mean['mean']*100
#Print the symbol has the max values of diff as dataframe
print(new_df_2022[new_df_2022['diff'] == new_df_2022['diff'].max()])
#Print the symbol has the max values of diff as string
print('Công ty đầu tư năm 2022 là ' ,new_df_2022[new_df_2022['diff'] == new_df_2022['diff'].max()]['SYMBOL'].values[0] )
print('Tỷ lệ chêch lệch là ' ,new_df_2022[new_df_2022['diff'] == new_df_2022['diff'].max()]['diff'].values[0] , '%')

         sum SYMBOL  TIME       diff
53  0.457393    VID  2022  143.70706
Công ty đầu tư năm 2022 là  VID
Tỷ lệ chêch lệch là  143.7070595958498 %

**Hàm tính ra công ty đầu tư**

In [256]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data


def find_company_to_invest(data,years_begin,years_end):
    filtered_data = get_data(data,years_begin,years_end)
    new_df = pd.DataFrame({'sum': filtered_data['Cash and cash equivalents'] + filtered_data['Short Term Financial Investments'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
    new_df = new_df.reset_index(drop=True)
    new_df_2007_2021 = new_df[new_df['TIME'] != years_end]
    new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)

    new_df_2022 = new_df[new_df['TIME'] == years_end]
    new_df_2022 = new_df_2022.reset_index(drop=True)

    new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
    new_mean = new_mean.reset_index()
    new_mean.columns = ['SYMBOL', 'mean']
    new_df_2022['diff'] = (new_df_2022['sum'] - new_mean['mean'])/new_mean['mean']*100
    print('Công ty đầu tư năm ' +str(years_end)+' là ' ,new_df_2022[new_df_2022['diff'] == new_df_2022['diff'].max()]['SYMBOL'].values[0] )
    print('Tỷ lệ chêch lệch là ' ,new_df_2022[new_df_2022['diff'] == new_df_2022['diff'].max()]['diff'].values[0] , '%')
    return new_df_2022
final_table =find_company_to_invest(data,2007,2021)

Công ty đầu tư năm 2021 là  PNC
Tỷ lệ chêch lệch là  381.8887468588145 %

# Thực hiện Test code công thức : Merge Hệ thống của anh An

In [61]:
vis = Generator(filtered_data,
                generation_method=1,
                 required_fields=[],
                 multiple_cycles=False,
                 investment_method=1,
                 interest_rate=1.06,
                 measurement_method=0,
                 target=1.4,
                 max_loop=7)

Các cột không được coi là biến: ['TIME', 'PROFIT', 'SYMBOL', 'VALUEARG', 'EXCHANGE']

In [ ]:
INDEX = vis.INDEX[1:] - vis.INDEX[1]
PROFIT = vis.PROFIT[vis.INDEX[1]:]
SYMBOL = vis.SYMBOL[vis.INDEX[1]:]
print(INDEX)
print(PROFIT)
print(SYMBOL)

In [ ]:
            for formula1 in range(current_formula1,len(F0)):
                if current_formula2 == len(F_new_formula) -1:
                    current_formula2 = 0
                for formula2 in range(current_formula2,len(F_new_formula)):
                    self.target = -1000
                    weight = np.zeros(self.OPERAND.shape[1])
                    expression = F_new_formula[formula2]
                    operands = {}
                    for i, operand in enumerate(self.OPERAND):
                        operands[f'A{i}'] = operand

                    # Replace numbers with corresponding variable names
                    for i, operand in enumerate(operands):
                        
                        expression = expression.replace(str(i), operand)
                    weight += eval(expression, {}, operands)
                    weight[np.isnan(weight)] = -1.7976931348623157e+308
                    weight[np.isinf(weight)] = -1.7976931348623157e+308