In [1]:
%cd VIS_SinhCT

/Users/trancatkhanh/Desktop/TestFinanceFormula/VIS_SinhCT

In [2]:
from generator import Generator
import pandas as pd
import numpy as np
data = pd.read_excel("HOSE_File3_2023_Field.xlsx")
data = data[data["TIME"] >= 2007]
data = data[data["TIME"] <= 2022]
data

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
339,AAA,HOSE,2022,0.476440,1.559239e+11,0.318878,0.069954,0.287971,0.159968,0.022042,...,0.031236,0.064973,0.001382,0.002542,-0.001160,0.063813,0.015686,-0.003862,0.051988,0.025008
340,AAM,HOSE,2022,0.744966,1.660500e+09,0.396938,0.039397,0.049874,0.544791,0.016006,...,0.041257,-0.006316,0.032221,0.024444,0.007777,0.001461,0.000000,0.000013,0.001448,0.010663
341,AAT,HOSE,2022,0.410448,8.211400e+09,0.109150,0.001170,0.247543,0.020843,0.022754,...,0.015443,0.038660,0.007479,0.003214,0.004265,0.042925,0.009223,0.000000,0.033703,0.009605
342,ABR,HOSE,2022,0.475490,2.440000e+07,0.120767,0.354600,0.102462,0.001000,0.000924,...,0.054159,0.056796,0.001087,0.000356,0.000731,0.057526,0.012207,-0.002045,0.047365,0.000060
343,ABS,HOSE,2022,0.255578,2.783360e+10,0.001594,0.172515,0.465351,0.010245,0.000452,...,0.004550,0.041596,0.000842,0.000861,-0.000019,0.041576,0.008437,0.000000,0.033140,0.014114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4721,VPK,HOSE,2007,0.502778,1.682800e+09,0.020743,0.000000,0.057294,0.116012,0.024933,...,0.026945,0.031980,0.002445,0.000467,0.001978,0.033958,0.000000,0.000000,0.033958,0.006151
4722,VSH,HOSE,2007,0.455263,1.280530e+10,0.005633,0.006091,0.002983,0.002712,0.000119,...,0.000696,0.028461,0.000139,0.000085,0.000054,0.028515,0.000000,0.000000,0.028515,0.001348
4723,VTA,HOSE,2007,0.548485,2.194500e+09,0.065528,0.000000,0.497201,0.481074,0.000587,...,0.021797,0.016901,0.002553,0.001503,0.001050,0.017951,0.000000,0.000000,0.017951,0.016625
4724,VTB,HOSE,2007,0.506849,8.179000e+08,0.032938,0.024943,0.120339,0.059402,0.018610,...,0.016983,0.038285,0.009579,0.005138,0.004440,0.042726,0.000000,0.000000,0.042726,0.001601
4725,VTC,HOSE,2007,0.531832,5.777000e+08,0.070280,0.001582,0.295638,0.116344,0.002460,...,0.043458,0.038562,0.002154,0.000408,0.001746,0.040307,0.005898,0.000000,0.034409,0.004020

# Thực hiện Test code công thức : Ngoài hệ thống của anh An

In [17]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data
filtered_data=  get_data(data,2007,2022)

**Các công ty phải tồn tại xuyên suốt giai đoạn năm 2007 - 2022**

In [112]:
filtered_data.head()

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
367,BMC,HOSE,2022,0.585062,4.483900e+09,0.266337,0.000000,0.015456,0.303222,0.046970,...,0.045098,0.072318,0.000865,3.680582e-03,-0.002816,0.069502,0.011103,0.000000,0.058399,0.015013
368,BMP,HOSE,2022,1.006902,4.236900e+09,0.032402,0.152698,0.069265,0.115955,0.005905,...,0.016407,0.050926,0.000467,1.143017e-03,-0.000676,0.050250,0.009020,0.001064,0.040166,0.000794
382,CII,HOSE,2022,0.412308,3.520647e+11,0.087449,0.083757,0.555696,0.577221,0.027793,...,0.062709,-0.009451,0.003761,7.734962e-03,-0.003974,-0.013425,0.026742,-0.009453,-0.030715,0.044670
384,CLC,HOSE,2022,0.959108,1.197900e+09,0.058603,0.000000,0.191794,0.694734,0.007103,...,0.071940,0.159749,0.000729,6.110503e-06,0.000723,0.160473,0.032412,0.000000,0.128060,0.001133
391,COM,HOSE,2022,0.480028,4.280000e+08,0.083097,0.015264,0.018864,0.098535,0.006660,...,0.013433,0.045497,0.003203,8.149771e-07,0.003202,0.048698,0.009855,-0.000365,0.039208,0.000417

**Cho công thức A+B  vs A là cột Cash and cash equivalents vs B là cột Short Term Financial Investments**
**==> ta có bảng weight**

In [31]:
new_df = pd.DataFrame({'sum': filtered_data['Cash and cash equivalents'] + filtered_data['Short Term Financial Investments'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
new_df = new_df.reset_index(drop=True)
new_df

          sum SYMBOL  TIME
0    0.266337    BMC  2022
1    0.185100    BMP  2022
2    0.171206    CII  2022
3    0.058603    CLC  2022
4    0.098361    COM  2022
..        ...    ...   ...
939  0.060203    VIP  2007
940  0.135642    VIS  2007
941  0.015428    VNM  2007
942  0.011723    VSH  2007
943  0.057881    VTB  2007

[944 rows x 3 columns]

**Weight của các năm từ 2007 đến 2021**

In [113]:
new_df_2007_2021 = new_df[new_df['TIME'] != 2022]
new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)
new_df_2007_2021.head()

        sum SYMBOL  TIME
0  0.018117    BMC  2021
1  0.290072    BMP  2021
2  0.178566    CII  2021
3  0.057565    CLC  2021
4  0.109757    COM  2021

**Mean Weight của các năm từ 2007 đến 2021**

In [92]:
# create the new dataframe of all time except 2022
new_df_2007_2021 = new_df[new_df['TIME'] != 2022]
new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)
new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
new_mean = new_mean.reset_index()
new_mean.columns = ['SYMBOL', 'mean']
new_mean.head()

  SYMBOL      mean
0    BMC  0.141737
1    BMP  0.123226
2    CII  0.200663
3    CLC  0.110731
4    COM  0.177818

**Weight của năm 2022**

In [93]:
new_df_2022 = new_df[new_df['TIME'] == 2022]
new_df_2022 = new_df_2022.reset_index(drop=True)
new_df_2022.head()

        sum SYMBOL  TIME
0  0.266337    BMC  2022
1  0.185100    BMP  2022
2  0.171206    CII  2022
3  0.058603    CLC  2022
4  0.098361    COM  2022

**Độ chêch lệch  theo phần trăm của năm 2022 so cái mean các năm trước đó**

In [96]:
# How to combine new_df_2022 and new_mean
new_df_2022_1 = pd.merge(new_df_2022, new_mean, on='SYMBOL')
new_df_2022_1.columns = ['sum','SYMBOL', 'TIME', 'mean']
new_df_2022_1['diff'] = ((new_df_2022_1['sum'] - new_df_2022_1['mean'])/new_df_2022_1['mean'])*100
new_df_2022_1['SUM'] = new_df_2022_1['sum'].astype(float)

new_df_2022_1 = new_df_2022_1.drop(columns=['sum'])
new_df_2022_1.head()

  SYMBOL  TIME      mean       diff       SUM
0    BMC  2022  0.141737  87.909331  0.266337
1    BMP  2022  0.123226  50.211228  0.185100
2    CII  2022  0.200663 -14.679694  0.171206
3    CLC  2022  0.110731 -47.075970  0.058603
4    COM  2022  0.177818 -44.684162  0.098361

In [97]:

print(new_df_2022_1[new_df_2022_1['diff'] == new_df_2022_1['diff'].max()])
#Print the symbol has the max values of diff as string
print('Công ty đầu tư năm 2022 là ' ,new_df_2022_1[new_df_2022_1['diff'] == new_df_2022_1['diff'].max()]['SYMBOL'].values[0] )
print('Tỷ lệ chêch lệch là ' ,new_df_2022_1[new_df_2022_1['diff'] == new_df_2022_1['diff'].max()]['diff'].values[0] , '%')

   SYMBOL  TIME      mean       diff       SUM
53    VID  2022  0.187682  143.70706  0.457393
Công ty đầu tư năm 2022 là  VID
Tỷ lệ chêch lệch là  143.7070595958498 %

**Hàm tính ra công ty đầu tư**

In [109]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data


def find_company_to_invest(data,years_begin,years_end):
    filtered_data = get_data(data,years_begin,years_end)
    new_df = pd.DataFrame({'sum': filtered_data['Cash and cash equivalents'] + filtered_data['Short Term Financial Investments'], 'SYMBOL': filtered_data['SYMBOL'], 'TIME': filtered_data['TIME']})
    new_df = new_df.reset_index(drop=True)
    new_df_2007_2021 = new_df[new_df['TIME'] != years_end]
    new_df_2007_2021 = new_df_2007_2021.reset_index(drop=True)

    new_df_2022 = new_df[new_df['TIME'] == years_end]
    new_df_2022 = new_df_2022.reset_index(drop=True)

    new_mean = new_df_2007_2021.groupby(['SYMBOL']).mean().drop(columns=['TIME'])
    new_mean = new_mean.reset_index()
    new_mean.columns = ['SYMBOL', 'mean']
    new_df_2022_1 = pd.merge(new_df_2022, new_mean, on='SYMBOL')
    new_df_2022_1.columns = ['sum','SYMBOL', 'TIME', 'mean of previous years']
    new_df_2022_1['weight of year end'] = new_df_2022_1['sum'].astype(float)
    new_df_2022_1['diff in percentage'] = ((new_df_2022_1['sum'] - new_df_2022_1['mean of previous years'])/new_df_2022_1['mean of previous years'])*100
    new_df_2022_1 = new_df_2022_1.drop(columns=['sum'])
    print('Công ty đầu tư năm ' +str(years_end)+' là ' ,new_df_2022_1[new_df_2022_1['diff in percentage'] == new_df_2022_1['diff in percentage'].max()]['SYMBOL'].values[0] )
    print('Tỷ lệ chêch lệch là ' ,new_df_2022_1[new_df_2022_1['diff in percentage'] == new_df_2022_1['diff in percentage'].max()]['diff in percentage'].values[0] , '%')
    return new_df_2022_1
final_table =find_company_to_invest(data,2007,2009)

Công ty đầu tư năm 2009 là  TTP
Tỷ lệ chêch lệch là  3961.6086052321557 %

# Thực hiện Test code công thức : Merge Hệ thống của anh An

**Xử lý dữ liệu để**
**các công ty phải tồn tại xuyên suốt giai đoạn năm 2007 - 2022**

In [3]:
def get_data(data,years_begin,years_end):
    symbols_end = data[data["TIME"] == int(years_begin)]["SYMBOL"].unique()
    symbols = []
    for symbol in symbols_end:
        exists_in_all_years = True
        for year in list(range(int(years_begin), int(years_end+1))):
            if symbol not in data[data["TIME"] == year]["SYMBOL"].unique():
                exists_in_all_years = False
                break
        if exists_in_all_years:
            symbols.append(symbol)
    data = data[data["SYMBOL"].isin(symbols)]
    # print the data from the years_begin to years_end in the TIME columns
    data = data[data["TIME"] >= int(years_begin)]
    data = data[data["TIME"] <= int(years_end)]
    return data
filtered_data=  get_data(data,2007,2022)

In [4]:
filtered_data.head()

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
367,BMC,HOSE,2022,0.585062,4.483900e+09,0.266337,0.000000,0.015456,0.303222,0.046970,...,0.045098,0.072318,0.000865,3.680582e-03,-0.002816,0.069502,0.011103,0.000000,0.058399,0.015013
368,BMP,HOSE,2022,1.006902,4.236900e+09,0.032402,0.152698,0.069265,0.115955,0.005905,...,0.016407,0.050926,0.000467,1.143017e-03,-0.000676,0.050250,0.009020,0.001064,0.040166,0.000794
382,CII,HOSE,2022,0.412308,3.520647e+11,0.087449,0.083757,0.555696,0.577221,0.027793,...,0.062709,-0.009451,0.003761,7.734962e-03,-0.003974,-0.013425,0.026742,-0.009453,-0.030715,0.044670
384,CLC,HOSE,2022,0.959108,1.197900e+09,0.058603,0.000000,0.191794,0.694734,0.007103,...,0.071940,0.159749,0.000729,6.110503e-06,0.000723,0.160473,0.032412,0.000000,0.128060,0.001133
391,COM,HOSE,2022,0.480028,4.280000e+08,0.083097,0.015264,0.018864,0.098535,0.006660,...,0.013433,0.045497,0.003203,8.149771e-07,0.003202,0.048698,0.009855,-0.000365,0.039208,0.000417

In [5]:
vis = Generator(filtered_data,
                generation_method=1,
                 required_fields=[],
                 multiple_cycles=False,
                 investment_method=2,
                 interest_rate=1.06,
                 measurement_method=0,
                 target=1.4,
                 max_loop=7)

Các cột không được coi là biến: ['TIME', 'PROFIT', 'SYMBOL', 'VALUEARG', 'EXCHANGE']

In [ ]:
vis.generate("Data_CT", 100, 5000000000000)

In [16]:
o= (np.load('pre_cyc_sym.npy', allow_pickle=True))
o

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,
        9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,
        1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,  1,
        2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
       45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,  1,  2,
        3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11,
       12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
       46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,  1,  2,  3,
        4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
       55, 56, 57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,
       13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
       30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,  1,  2,  3,  4,
        5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
       56, 57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13,
       14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
       31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
       48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
       57, 58,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14,
       15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55, 56, 57, 58,  0,  1,  2,  3,  4,  5,  6,
        7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
       58])

In [17]:
k = (np.load('/Users/trancatkhanh/Desktop/TestFinanceFormula/VIS_SinhCT/weight_all_other_years.npy', allow_pickle=True))
k

array([ 0.88456332,  0.48363054,  1.21740075,  0.71993391,  0.65955381,
        0.54509023,  0.26710596,  0.66630783,  0.46081468,  1.16002525,
        0.59415167,  0.2826646 ,  0.45675462,  0.6264089 ,  0.62305797,
        0.85471056,  1.50698933,  0.63689534,  0.98770579,  0.92756981,
        0.3169537 ,  1.71050032,  0.34379955,  1.65541926,  0.63403694,
        1.56186456,  0.65249105,  0.65313235,  0.33889427,  0.47971422,
        1.55773574,  0.70325477,  0.47702813,  0.67947049,  1.17540965,
        1.61628019,  0.76863401,  1.43281822,  0.3883674 ,  0.72078356,
        0.91215532,  0.5459693 ,  0.99054266,  0.68514382,  0.88393169,
        0.71020827,  0.44377151,  0.8312178 ,  0.23355349,  2.40651656,
        2.64908417,  1.08160629,  0.90076116,  1.33372736,  1.60237136,
        0.39183066,  0.14845382,  0.73911917,  1.46271892,  1.75717814,
        0.82356914,  1.84008868,  1.07681528,  0.70168941,  0.92313664,
        0.31888034,  0.78484183,  0.88669797,  1.20877198,  1.15880787,
        0.55886866,  2.14141323,  1.32502154,  1.44452517,  4.25098698,
        3.01011398,  1.18356414,  2.611195  ,  1.5524432 ,  0.44562349,
        1.9128453 ,  0.71437299,  5.92956619,  2.61181476,  1.74202242,
        1.11620138,  1.32553129,  0.45428299,  0.91531664,  4.95052576,
        0.65508508,  0.80194516,  1.1497398 ,  1.38921303,  1.39700248,
        0.82635045,  4.69264285,  1.05637325,  1.24090779,  1.23615947,
        2.54982462,  0.92593954,  1.00044321,  1.54850241,  0.82624945,
        1.292161  ,  1.83957487,  0.9516821 ,  3.87297053,  4.47398016,
        1.02587018,  1.27971717,  3.75035228,  3.90697529,  0.30385266,
        0.16792766,  0.91996406,  1.6685473 ,  1.10719579,  0.58103838,
        1.22716018,  0.64382801,  0.60299776,  0.7214745 ,  0.20021533,
        0.41693867,  0.56321197,  1.45170662,  0.60042335,  0.50436323,
        0.91972303,  0.52707415,  0.79494357,  3.39184797,  1.90079407,
        0.73177603,  0.72137777,  1.02072688,  0.44270167,  1.60454534,
        0.57760534,  3.34619733,  1.88675365,  1.48351928,  1.26194499,
        0.91134388,  0.62564817,  0.48114269,  2.69321507,  1.25563105,
        0.31419413,  0.85324128,  1.0454296 ,  0.81633079,  0.68294509,
        1.95510579,  0.7461994 ,  0.99020465,  1.48720406,  1.98739481,
        0.96947964,  0.78038273,  1.18358457,  0.63986412,  0.8549548 ,
        1.36292129,  0.61301332,  5.52910054,  2.81058806,  1.00904023,
        1.11630905,  2.9620286 ,  2.47144883,  0.38861874,  0.10106327,
        0.83882914,  1.11613543,  1.12538277,  0.3964386 ,  1.01686138,
        0.62258444,  0.55258924,  0.79926147,  0.1832832 ,  0.25606852,
        0.40458239,  1.26689029,  0.4541076 ,  0.38399694,  0.77007269,
        0.68653432,  0.81117968,  3.19765225,  1.78934291,  0.42160668,
        0.37802315,  1.10944256,  0.73019341,  1.48669919,  0.50477674,
        3.65814609,  0.98188937,  1.52151865,  1.18884559,  0.72971689,
        0.85554959,  0.46041768,  2.48688484,  1.8827986 ,  0.29210602,
        0.82042127,  1.02901039,  0.14040509,  0.86548814,  1.82789037,
        0.42056024,  0.71776105,  1.42180134,  2.0742186 ,  0.97989395,
        0.78744947,  0.96589727,  0.67973939,  0.74250724,  0.98232162,
        0.30834258,  4.49021006,  1.42587243,  0.79794173,  1.19929915,
        1.4825756 ,  2.26504896,  0.42709918,  0.07557562,  0.79485848,
        1.04968142,  0.66237092,  0.23542466,  0.44273112,  0.44412053,
        0.40874058,  0.74014205,  0.23800503,  0.26757247,  0.40277394,
        1.4725826 ,  0.86236427,  0.51706874,  0.59172337,  0.6047355 ,
        0.94250232,  3.52189301,  2.15703458,  0.37391422,  0.31653883,
        1.51754328,  0.46948026,  1.43050347,  0.35752368,  2.74713521,
        0.6970278 ,  1.29745506,  0.98788207,  0.58626911,  0.62373746,
        0.4685563 ,  2.21699817,  1.08572293,  0.35246368,  0.91844332,
        1.11951338,  0.72326187,  0.93784886,  1.77662104,  0.46830544,
        0.8900585 ,  1.45879013,  2.07166723,  0.55673028,  0.62774237,
        0.93208672,  0.87950311,  0.77703997,  0.92122999,  0.29096333,
        3.35503075,  1.71921994,  0.57608167,  1.11014328,  3.30081837,
        2.19331123,  0.5587959 ,  0.09798615,  0.86232005,  1.1140925 ,
        0.8622718 ,  0.27997976,  0.74477865,  0.41217377,  0.56889656,
        0.78870367,  0.33034433,  0.39759987,  0.38429552,  1.89374977,
        0.80979334,  0.52054887,  0.73894983,  0.52786341,  1.20978284,
        2.58084426,  2.86560646,  0.54996843,  0.74191676,  1.79393887,
        0.5757177 ,  1.50616447,  0.64358675,  2.35262863,  0.81759636,
        1.16681112,  0.75457198,  0.71903867,  0.68121221,  1.11080294,
        1.21463673,  1.40508344,  0.44684806,  0.96031991,  1.07880014,
        0.83010654,  0.98986344,  1.57222623,  0.58501705,  1.00596824,
        1.41340045,  2.26636634,  0.48628619,  0.74665848,  0.87908284,
        0.90429351,  1.01262689,  1.34799688,  0.55151545,  1.73086759,
        2.6074576 ,  0.68847832,  1.18039588,  2.53517252,  1.89832914,
        1.70227884,  0.12090306,  0.8209234 ,  1.52968153,  0.76049902,
        0.45211427,  0.73861448,  0.66781194,  0.6769276 ,  1.25463235,
        0.26852432,  0.64996138,  0.2881703 ,  1.55823495,  0.74431621,
        0.45791925,  0.9793769 ,  0.48687479,  1.54323332,  2.77495617,
        2.42110731,  0.93722478,  1.02477456,  1.60781502,  0.60354623,
        1.53950187,  0.56401782,  1.41159196,  0.58621285,  0.98343143,
        0.61915328,  1.1425067 ,  0.2695494 ,  0.99168438,  1.14284401,
        1.73108271,  0.71456752,  0.93315183,  1.33429542,  0.52434377,
        0.75811589,  0.83521344,  0.89987005,  0.82674398,  1.4277689 ,
        2.56468984,  0.83869842,  0.6242491 ,  0.83004183,  0.72379112,
        0.74894001,  1.97182245,  0.50598097,  2.35022471,  1.90780657,
        1.23660554,  1.18018349,  2.48021562,  1.32054428,  1.7711802 ,
        0.17226688,  1.07264463,  1.53460622,  0.39475803,  0.38077246,
        0.54945466,  0.70895306,  0.73300883,  1.78174014,  0.20143283,
        0.50871011,  0.33782627,  1.97911845,  1.16060818,  0.35441496,
        0.7810866 ,  0.57203715,  1.14471751,  1.83541816,  2.94375643,
        1.07932991,  0.92367667,  1.51513388,  0.63020191,  1.45155022,
        0.67382999,  1.04458192,  0.45506483,  0.85508185,  0.64943684,
        1.07090773,  0.98405723,  0.74048889,  0.70378189,  1.56670014,
        0.7779404 ,  0.93077762,  1.25825818,  1.38499084,  0.68691969,
        0.4229703 ,  0.71914289,  0.61485122,  1.66450522,  1.80794662,
        0.72010485,  0.79127774,  0.79137763,  0.85651836,  0.62897335,
        1.54634522,  0.44872168,  2.35418678,  1.98518778,  1.14896568,
        1.3886919 ,  1.64083224,  1.04824072,  1.30910523,  0.13659619,
        0.73181752,  1.60122864,  0.23176809,  0.47503003,  0.4922585 ,
        1.16758179,  0.86202099,  2.0516842 ,  0.28687085,  0.96938465,
        0.36520812,  2.08805073,  2.13624904,  0.54739354,  0.65230363,
        0.81937883,  1.04290445,  3.39377346,  3.84229077,  1.57958695,
        1.13692123,  1.86610216,  0.56081042,  1.51125252,  1.20882398,
        1.49919401,  0.49479023,  1.23095485,  1.09081245,  1.37280645,
        1.06565864,  0.93240241,  2.846784  ,  1.84565316,  1.03113076,
        1.30626085,  1.5079488 ,  2.70092853,  0.69947985,  0.7389084 ,
        1.05712376,  0.83926301,  2.3158959 ,  3.85021366,  1.31042013,
        0.85710928,  1.11815847,  1.16623208,  0.76966945,  1.31895834,
        0.49878442,  3.48497648,  2.82138141,  1.47233042,  2.3707221 ,
        2.3028792 ,  1.70724687,  1.33675955,  0.14109649,  0.98508627,
        2.1638963 ,  0.4109577 ,  0.69307244,  0.54445094,  1.09912675,
        0.9966696 ,  1.62795089,  0.31377489,  0.98515417,  0.63484335,
        2.07557181,  2.1400644 ,  0.40724801,  0.75445852,  1.0192505 ,
        1.6738682 ,  3.94023209,  3.45077253,  1.96870901,  1.22638886,
        1.34374875,  0.62516278,  2.31449012,  1.20085846,  1.5072565 ,
        0.70580294,  1.53739925,  1.03856518,  1.89438556,  1.41660248,
        1.07379671,  2.6493237 ,  1.73555991,  1.00498088,  2.37200017,
        1.67734339,  2.26388305,  0.88307734,  0.72710184,  1.26766511,
        1.11661495,  2.79538687,  2.84435013,  1.58745798,  0.83823133,
        1.5838673 ,  1.33816419,  0.56963869,  1.87177497,  0.60483331,
        2.49540403,  2.33285802,  1.42853483,  2.21314247,  2.6662933 ,
        2.45292944,  1.29295068,  0.22619716,  0.97329767,  2.12881678,
        0.45820773,  0.54201223,  0.50492508,  0.89362766,  0.76347892,
        1.19403456,  0.39727131,  1.30994817,  0.67288044,  1.61209783,
        1.89973768,  0.37751953,  1.21817789,  0.86185286,  1.3646854 ,
        2.8884074 ,  2.48542059,  1.1133827 ,  0.93987791,  1.08104043,
        0.36413129,  1.79533149,  1.04527596,  1.22262994,  0.71196148,
        1.22030112,  0.77003242,  1.61213483,  0.6088097 ,  1.53325471,
        1.19718222,  1.42102799,  0.42501331,  2.10249522,  1.49853026,
        1.98238263,  1.17488115,  0.48420311,  2.00199295,  1.17396978,
        2.65340789,  0.91606986,  0.62183091,  0.59314274,  1.43262476,
        1.19194267,  0.40914981,  1.19261823,  0.70503116,  8.26988248,
        1.34804961,  1.01950694,  1.62312562,  1.31147658,  1.45012828,
        0.76542994,  0.21721849,  1.06011264,  1.67423425,  0.22663758,
        0.30508773,  0.3883475 ,  0.54658121,  0.63646602,  0.63555015,
        0.30376576,  0.58582137,  0.30116705,  1.36734969,  1.21126155,
        0.2206763 ,  0.77345523,  0.4911384 ,  0.65628741,  1.26558579,
        1.42376522,  0.8164948 ,  1.04268649,  0.71960121,  0.57425441,
        1.1831687 ,  0.61374089,  0.65548632,  0.45829618,  0.43964381,
        0.43359322,  0.76948198,  0.62662139,  1.09568398,  1.19215983,
        0.84860186,  0.25822149,  0.69940677,  1.01724758,  1.17687516,
        0.76719513,  0.33768686,  1.18709677,  0.58305182,  1.16581287,
        0.77851921,  0.65892113,  0.27163175,  0.56778244,  0.76923279,
        0.20916857,  0.65893   ,  0.42187648,  7.6828936 ,  0.50518369,
        0.89863013,  0.85039747,  1.01896041,  0.68542142,  0.42429118,
        0.20186847,  0.70772046,  1.14197667,  0.24290978,  0.95151405,
        0.76571066,  0.75698428,  0.97855088,  1.47420219,  0.32202263,
        0.82571535,  0.59178867,  1.97272945,  2.00862423,  0.32866227,
        1.99824175,  1.41218624,  1.44681767,  1.97524723,  2.19047592,
        1.31863404,  2.13886688,  1.29458932,  0.70610614,  2.138811  ,
        0.86244769,  1.25124687,  1.51085928,  1.08901212,  1.44397014,
        1.09492296,  0.80706207,  1.43921812,  1.92874524,  1.15853624,
        0.5007618 ,  2.20991011,  1.39409873,  2.43028318,  0.40286009,
        0.26355395,  1.91530761,  1.01367911,  2.30671423,  1.76355969,
        1.14877136,  0.32303446,  1.016046  ,  0.90548882,  0.54441154,
        1.20278782,  0.62883377, 11.1832521 ,  0.99479767,  1.60160807,
        1.01087004,  1.21083292,  1.32720123,  0.67806335,  0.32119696,
        0.53513512,  1.43577079,  0.09785017,  0.37904865,  0.53013055,
        0.32207482,  0.91233356,  0.67478181,  0.19992085,  0.2964204 ,
        0.28315762,  1.2375016 ,  0.96529476,  0.20192904,  1.18940969,
        0.96697264,  0.7242473 ,  0.71167168,  1.13902901,  0.13723657,
        0.61877461,  0.55459453,  0.28765059,  0.86417885,  0.34480348,
        0.38691118,  0.47338751,  0.56393758,  0.59551582,  0.91180104,
        0.5857386 ,  0.54569479,  0.7623839 ,  0.3286729 ,  0.32848458,
        0.95329987,  0.78206849,  0.93418421,  0.31168716,  0.15648258,
        0.81047169,  0.48283211,  0.92408153,  0.90765978,  0.76655406,
        0.55185684,  0.41761588,  0.51076419,  0.29693783,  0.4111043 ,
        0.17587359,  4.72790001,  0.34088591,  0.93744504,  0.68817922,
        0.8156954 ,  0.46323608,  0.25315244,  0.2190998 ,  0.49489655,
        0.65503352,  0.07030388,  0.12137516,  0.16905515,  0.22474222,
        0.32192465,  0.33887064,  0.07666631,  0.14045035,  0.07436259,
        0.23624788,  0.21404802,  0.04626814,  0.39238062,  0.2366923 ,
        0.07105108,  0.28104914,  0.27904714,  0.27929025,  0.12880727,
        0.22190643,  0.07730255,  0.34960079,  0.2047292 ,  0.07482074,
        0.09817761,  0.23975857,  0.5251884 ,  0.37369633,  0.21741601,
        0.45921848,  0.27362321,  0.07700472,  0.2       ,  0.24573429,
        0.2241813 ,  0.45633501,  0.1525711 ,  0.04432436,  0.13436065,
        0.07183988,  0.09296452,  0.404014  ,  0.19932818,  0.26023387,
        0.16412831,  0.23745161,  0.07599808,  0.25573566,  0.21204406,
        2.75571128,  0.14577643,  0.1673691 ,  0.1965712 ,  0.19995486,
        0.13680914,  0.19634728,  0.08920884,  0.140643  ,  0.17861851])

In [14]:
coms = np.intersect1d(k, o)

In [30]:
INDEX = vis.INDEX[1:] - vis.INDEX[1]
PROFIT = vis.PROFIT[vis.INDEX[1]:]
SYMBOL = vis.SYMBOL[vis.INDEX[1]:]
print(len(INDEX))
# print(PROFIT)
# print(SYMBOL)

16

In [35]:
INDEX

array([  0,  59, 118, 177, 236, 295, 354, 413, 472, 531, 590, 649, 708,
       767, 826, 885])

In [32]:
INDEX[-2]

826

In [33]:
data['TIME']

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
939    2007
940    2007
941    2007
942    2007
943    2007
Name: TIME, Length: 944, dtype: int64

In [41]:
##Select the columns [INDEX[i-3]:INDEX[i-2]]
(data[INDEX[1]:])

,SYMBOL,EXCHANGE,TIME,PROFIT,VALUEARG,Cash and cash equivalents,Short Term Financial Investments,Short term receivables,Total Inventories,Total Other Current Assets,...,General and administration expenses,Net operating profit,Other income,Other expenses,Other profit,Total accounting profit before tax,Current income tax,Deferred income tax,Profit after tax,ValueARG
59,BMC,HOSE,2021,1.582173,2.263200e+09,0.018117,0.000000,0.294215,0.372554,0.057602,...,0.110227,0.091448,0.000000,0.000000,0.000000,0.091448,0.024493,0.000000,0.066955,0.010174
60,BMP,HOSE,2021,1.115372,9.361400e+09,0.040390,0.249682,0.066565,0.081813,0.000839,...,0.013152,0.135003,0.000497,0.000024,0.000473,0.135476,0.026365,0.001276,0.107835,0.001932
61,CII,HOSE,2021,1.284615,9.570790e+10,0.070654,0.107912,0.804475,0.754541,0.026915,...,0.085831,0.097537,0.006465,0.003834,0.002631,0.100168,0.036362,-0.012207,0.076013,0.015412
62,CLC,HOSE,2021,1.097297,1.115600e+09,0.057565,0.000000,0.178798,0.618314,0.010573,...,0.063136,0.166085,0.000537,0.000093,0.000444,0.166529,0.033550,0.000000,0.132979,0.001150
63,COM,HOSE,2021,0.978495,2.800000e+06,0.089515,0.020242,0.035633,0.121620,0.009194,...,0.022338,0.058755,0.011848,0.000232,0.011616,0.070371,0.014536,-0.000570,0.056404,0.000004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,VIP,HOSE,2007,0.320000,9.590200e+09,0.049677,0.010526,0.017354,0.020333,0.025015,...,0.004429,0.031128,0.001642,0.000237,0.001405,0.032533,0.006771,0.000000,0.025762,0.003036
940,VIS,HOSE,2007,0.943722,8.886000e+08,0.135642,0.000000,0.565138,0.240814,0.017823,...,0.014488,0.023900,0.004823,0.000013,0.004810,0.028710,0.005376,-0.000974,0.024308,0.001545
941,VNM,HOSE,2007,0.632778,4.027060e+10,0.005221,0.010207,0.017025,0.032140,0.001841,...,0.003757,0.020912,0.003628,0.000099,0.003528,0.024441,0.000096,0.000096,0.024345,0.001340
942,VSH,HOSE,2007,0.455263,1.280530e+10,0.005633,0.006091,0.002983,0.002712,0.000119,...,0.000696,0.028461,0.000139,0.000085,0.000054,0.028515,0.000000,0.000000,0.028515,0.001348
943,VTB,HOSE,2007,0.506849,8.179000e+08,0.032938,0.024943,0.120339,0.059402,0.018610,...,0.016983,0.038285,0.009579,0.005138,0.004440,0.042726,0.000000,0.000000,0.042726,0.001601

In [ ]:
k = np.array([0,2,3,1,2,3,1,0])
o = np.array([1,2,3,4,5,6,7,8])

In [18]:
import numpy as np

k = np.array([0, 2, 3, 1, 2, 3, 1, 0])
o = np.array([1, 2, 3, 4, 5, 6, 7, 8])

indices = np.where(np.isin(k, [0, 1, 2, 3]))  # Find indices where k is 0, 1, 2, or 3
subset_o = o[indices]  # Extract corresponding elements from o
mean = np.mean(subset_o)  # Compute the mean of the subset

print(mean)

4.5

In [22]:
np.mean(o[np.where(k == 1)[0]])

5.5